<!-- <% if @project.safe_attribute? 'priority_id' %> -->
<p>This is the partial.</p>
<p><%= f.select :priority_id, (@project_priorities.collect {|p| [p.name, p.id]}), {:required => true} %></p>
<!-- <% end %> -->